body {
}



#searchBox {
}


#adminButton {
}


#searchBox {

}


#resultsLabel {
}

.center {
    position: absolute;
    left:50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: left;
    margin: 1px;
}

.outer {
    margin: 1px;
    display: inline-block;
}

div#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}